<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Theme' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Theme' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Theme code Field with Validation -->

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Theme code' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="themeCode" [(ngModel)]="form.data.themeCode" class="form-control"
                  placeholder="{{ 'Enter Theme Code' | translate }}">
              </div>

              <span *ngIf="form.inputerror.themeCode" class="alertRedColor">{{ form.inputerror.themeCode }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Theme Name' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="themeName" [(ngModel)]="form.data.themeName" class="form-control"
                  placeholder="{{ 'Enter Theme Name' | translate }}">
              </div>

              <span *ngIf="form.inputerror.themeName" class="alertRedColor">{{ form.inputerror.themeName }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Color' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="color" [(ngModel)]="form.data.color" class="form-control"
                  placeholder="{{ 'Enter color' | translate }}">
              </div>

              <span *ngIf="form.inputerror.color" class="alertRedColor">{{ form.inputerror.color }}</span>
            </div>


            <div class="form-group pt-2">
              <label><b>{{ 'Status' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-paint-brush grey-text"></i></div>
                </div>

                <select class="form-control" name="status" [(ngModel)]="form.data.status" aria-label="ngSelected"
                  required>
                  <option [ngValue]="undefined">{{ 'Select Status' | translate }}</option>
                  <option value="Active">{{ 'Active' | translate }}</option>
                  <option value="Inactive">{{ 'Inactive' | translate }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.status" class="alertRedColor">{{ form.inputerror.status
                }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/themelist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>